<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Content-Security-Policy" />
        <remove name="Permissions-Policy" />
        <remove name="Referrer-Policy" />
        <remove name="X-Content-Type-Options" />
        <remove name="X-Frame-Options" />
        <add name="Content-Security-Policy" value="default-src 'self'; base-uri 'self'; connect-src 'self' https://dev-6tnv9qif.us.auth0.com https://trendapi20221210154024.azurewebsites.net; font-src 'self' data:; form-action 'self' https://dev-6tnv9qif.us.auth0.com; frame-ancestors 'none'; frame-src https://dev-6tnv9qif.us.auth0.com; img-src 'self' data: blob:; object-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline'; upgrade-insecure-requests" />
        <add name="Permissions-Policy" value="camera=(), geolocation=(), microphone=()" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
