:host ::ng-deep .p-button {
  width: 100%; /* make inputs use the full flex width, like other elements*/  
}

.p-fluid input {
	width: 100%; /* make inputs use the full flex width, like other elements*/
  }

form {
  margin-bottom: 3rem;
}