<h2>Add a Transaction</h2>
<!-- ngIf used to only display the form once the categories have been fetched -->
<form *ngIf="allCategories.length > 0 " #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)"
	[formGroup]="addTransactionForm">
	<div class="grid p-fluid">
		<div class="col-12 md:col-4">
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon">Date</span>
				<p-calendar formControlName="dateOfTransaction" [showIcon]="true" dateFormat="MM d, yy"></p-calendar>
			</div>

		</div>

		<div class="col-12 md:col-4">
			<p-dropdown formControlName="categoryDropdown" [options]="allCategories" placeholder="Category"
				optionLabel="categoryName"></p-dropdown>
		</div>

		<div class="col-12 md:col-4">
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon">$</span>
				<input formControlName="amountInput" type="number" pInputText placeholder="Amount">
			</div>
		</div>

		<div class="col-12">
			<div class="p-inputgroup">
				<span class="p-inputgroup-addon">Description</span>
				<input formControlName="descriptionInput" type="text" pInputText>
			</div>
		</div>
	</div>

	<div class="col-12 md:col-4">
		<p-button label="Submit" [disabled]="!addTransactionForm.valid" (onClick)="onSubmit(formDirective)"></p-button>
	</div>
</form>

<app-no-categories [visible]="noCategories"></app-no-categories>

<div *ngIf="transactionsAddedSoFar.length > 0 ">
	<h3>Added So Far:</h3>
	<app-transactions [transactions]="transactionsAddedSoFar" [categories]="allCategories"></app-transactions>
</div>