<p-table [value]="transactions" dataKey="id" responsiveLayout="scroll" sortField="dateOfTransaction" [sortOrder]="-1"
  editMode="row" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="dateOfTransaction">Date <p-sortIcon field="dateOfTransaction"></p-sortIcon>
    </th>
    <th pSortableColumn="category.categoryName">Category <p-sortIcon field="category.categoryName"></p-sortIcon>
  </th>
  <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon>
</th>
  <th>Descr</th>
  <th class="col-edit"></th>
  <th class="col-delete"></th>
</tr>
</ng-template>
<ng-template pTemplate="body" let-transaction let-editing="editing" let-rowIndex="rowIndex">
  <tr [pEditableRow]="transaction">
    <td>
      <p-cellEditor>
        <ng-template pTemplate="input">
          <!-- appendTo="body" used so that it doesnt get cut off at the edge of the table -->
          <p-datepicker [(ngModel)]="transaction.dateOfTransaction" value="transaction.dateOfTransaction" appendTo="body" [selectOtherMonths]="true"
          dateFormat="M d, yy"></p-datepicker>
        </ng-template>
        <ng-template pTemplate="output">
          <div class="mobile-edit-trigger"
            (pointerdown)="startMobileEditHold(transaction, 'date')"
            (pointerup)="onMobileEditPointerUp(transaction, 'date', $event)"
            (pointerleave)="cancelMobileEditHold()"
            (pointercancel)="cancelMobileEditHold()">
            {{transaction.dateOfTransaction | date}}
          </div>
        </ng-template>
      </p-cellEditor>
    </td>

    <td>
      <p-cellEditor>
        <ng-template pTemplate="input">
          <app-category-multiselect [(ngModel)]="transaction.categories" [options]="categories"
            placeholder="Tagged Categories"></app-category-multiselect>
        </ng-template>
        <ng-template pTemplate="output">
          <div class="mobile-edit-trigger"
            (pointerdown)="startMobileEditHold(transaction, 'category')"
            (pointerup)="onMobileEditPointerUp(transaction, 'category', $event)"
            (pointerleave)="cancelMobileEditHold()"
            (pointercancel)="cancelMobileEditHold()">
            @for (category of transaction.categories; track category) {
              <div>
                {{category.categoryName}}
              </div>
            }
          </div>
        </ng-template>
      </p-cellEditor>
    </td>
    <td>
      <p-cellEditor>
        <ng-template pTemplate="input">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">$</span>
            <input [(ngModel)]="transaction.amount" type="number" pInputText>
          </div>
        </ng-template>
        <ng-template pTemplate="output">
          <div class="mobile-edit-trigger"
            (pointerdown)="startMobileEditHold(transaction, 'amount')"
            (pointerup)="onMobileEditPointerUp(transaction, 'amount', $event)"
            (pointerleave)="cancelMobileEditHold()"
            (pointercancel)="cancelMobileEditHold()">
            {{transaction.amount | currency}}
          </div>
        </ng-template>
      </p-cellEditor>
    </td>
    <td>
      <p-cellEditor>
        <ng-template pTemplate="input">
          <input [(ngModel)]="transaction.transactionDescription" type="text" pInputText>
        </ng-template>
        <ng-template pTemplate="output">
          <div class="description-preview"
            (pointerdown)="startMobileEditHold(transaction, 'description')"
            (pointerup)="onDescriptionPointerUp(transaction, $event, transaction.transactionDescription)"
            (pointerleave)="cancelMobileEditHold()"
            (pointercancel)="cancelMobileEditHold()">
            {{transaction.transactionDescription}}
          </div>
        </ng-template>
      </p-cellEditor>
    </td>
    <td class="col-edit" style="text-align:center">
      @if (!editing) {
        <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
          (click)="onRowEditInit(transaction)" class="p-button-rounded p-button-text">
        </button>
      }
      @if (editing) {
        <button pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
          (click)="onRowEditSave(transaction)" class="p-button-rounded p-button-text p-button-success mr-2">
        </button>
      }
    </td>
    <td class="col-delete" style="text-align:center">
      <p-confirmpopup></p-confirmpopup>
      @if (!editing) {
        <button pButton pRipple type="button" icon="pi pi-trash"
          (click)="confirmDelete($event, transaction)" class="p-button-rounded p-button-text">
        </button>
      }

      @if (editing) {
        <button pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
          (click)="onRowEditCancel(transaction, rowIndex)" class="p-button-rounded p-button-text p-button-danger">
        </button>
      }
    </td>
  </tr>
</ng-template>
</p-table>

<p-dialog [header]="mobileEditDialogTitle" [(visible)]="mobileEditDialogVisible" [modal]="true" [draggable]="false"
  [resizable]="false" [style]="{ width: '22rem' }" [breakpoints]="{ '640px': '95vw' }">
  @if (mobileEditField === 'date') {
    <p-datepicker [(ngModel)]="mobileEditDate" [showIcon]="true" dateFormat="M d, yy" appendTo="body"></p-datepicker>
  }

  @if (mobileEditField === 'category') {
    <app-category-multiselect [(ngModel)]="mobileEditCategories" [options]="categories"
      placeholder="Tagged Categories"></app-category-multiselect>
  }

  @if (mobileEditField === 'amount') {
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">$</span>
      <input [(ngModel)]="mobileEditAmount" type="number" pInputText>
    </div>
  }

  @if (mobileEditField === 'description') {
    <input [(ngModel)]="mobileEditDescription" type="text" pInputText class="w-full">
  }

  <ng-template pTemplate="footer">
    <p-button label="Cancel" severity="secondary" (onClick)="cancelMobileFieldEdit()"></p-button>
    <p-button label="Save" (onClick)="saveMobileFieldEdit()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Description" [(visible)]="descriptionDialogVisible" [modal]="true" [draggable]="false"
  [resizable]="false" [style]="{ width: '24rem' }" [breakpoints]="{ '640px': '95vw' }">
  <p class="description-dialog-text">{{ descriptionDialogText }}</p>
  <ng-template pTemplate="footer">
    <p-button label="Close" (onClick)="descriptionDialogVisible = false"></p-button>
  </ng-template>
</p-dialog>