<form [formGroup]="filterForm">

	<label for="oldest-date">Oldest Date: </label>
	<p-calendar id="oldest-date" formControlName="dateOfOldestTransaction" [showIcon]="true" dateFormat="yy/mm/dd"></p-calendar>
  
	<label for="latest-date">Latest Date: </label>
	<p-calendar id="latest-date" formControlName="dateOfLatestTransaction" [showIcon]="true" dateFormat="yy/mm/dd"></p-calendar>
  </form>

  <p></p>
  <label for="categories-dropdown">Categories: </label>
  <p-multiSelect 
	  id="categories-dropdown"
	  [options]="allCategories" 
	  [(ngModel)]="selectedCategories" 
	  optionLabel="categoryName" 
	  display="chip"
	  placeholder="(All Categories)"
	  selectedItemsLabel="{0} items selected">
  </p-multiSelect>
  
  <p></p>
  <p-button label="Submit" [disabled]="!formIsValid" (onClick)="onSubmit($event)"></p-button>
  
  <div *ngIf=" !formIsValid && filterForm.errors != null">
	  {{ filterForm.errors['datesError']['message']}}
  </div>

<app-transactions [filter]="configuredFilter"></app-transactions>